.card {
  border: 2px ridge #dddfe3;
  background: #b5bdc8;
  background: -moz-radial-gradient(center, ellipse cover, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #b5bdc8 0%,#828c95 36%,#28343b 100%);
  background: radial-gradient(ellipse at center, #b5bdc8 0%,#828c95 36%,#28343b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );

  h3 {
    margin: 0;
    color: greenyellow;
    font-size: 30px;
    text-shadow: 0px 3px 5px rgba(255, 255, 255, 0.8);
  }
}
