:host {
  position: relative;
  display: block;
  width: 100%;
}

.alert {
  p {
    margin: 0;
  }
}

.form-group {
  .errors {
    p {
      margin: 0;
      font-size: 12px;
    }
  }
}

.form-control {
  height: 45px;
}
