<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 col-md-6 col-lg-5 my-auto mx-auto">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center">
                Login
              </h2>
              <hr>
              <div class="row" *ngIf="loginError">
                <div class="col mx-auto">
                  <div class="alert alert-danger text-center" role="alert">
                    Login error.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col mx-auto">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                      <input type="email" id="email" class="form-control text-center" placeholder="E-mail" name="email" formControlName="email" />
                      <div class="errors" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                        <p class="text-danger" *ngIf="loginForm.get('email').errors['email']">Please insert a valid email address.</p>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <input type="password" id="password" class="form-control text-center" placeholder="Password" name="password" formControlName="password" />
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-secondary btn-block"  [disabled]="loginForm.invalid">Login</button>
                    </div>
                    <div class="form-group text-center">
                      <div class="btn btn-secondary btn-block" routerLink="/home">Back</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
