<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-md-10 col-lg-8 mx-auto my-auto">
          <div class="card">
            <div class="card-body">
              <div class="feedback-form-content text-center" *ngIf="!formSubmitted; else thankYou">
                <h3>Please leave a feedback</h3>
                <form [formGroup]="feedbackForm" (ngSubmit)="onSendFeedback()">
                  <div class="form-group mb-3">

                    <div class="rating-item-box" *ngFor="let rating of [ 1, 2, 3, 4, 5 ]; let i = index;">
                  <span class="rating-item" (click)="setRating( rating )" (mouseenter)="onHover( $event, rating )" (mouseleave)="onOut( $event, rating )" [attr.data-value]="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <textarea class="form-control" name="feedback" id="feedback" cols="30" rows="10" formControlName="feedback"></textarea>
                    <input type="hidden" name="rating" id="rating" [value]="selectedRating > 0 ? selectedRating : ''" formControlName="rating" />
                  </div>
                  <div class="row">
                    <div class="col col-lg-6 mx-auto">
                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-secondary btn-block" [disabled]="feedbackForm.invalid">Submit</button>
                      </div>
                      <div class="form-group text-center">
                        <div class="btn btn-secondary btn-block" routerLink="/home">Back</div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
              <ng-template #thankYou>
                <div class="feedback-thank-you-container text-center">
                  <div class="row">
                    <div class="col">
                      <h3>Thanks for your feedback!</h3>
                      <app-button size="3" type="home"></app-button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="swee-container" class="position-fixed w-100 h-100" @swTrigger *ngIf="swee" (click)="swee = false">
  <div class="d-table h-100 w-100">
    <div class="d-table-cell h-100 w-100 align-middle">
      <div class="swee"></div>
      <h2>
        For your feedback
        <br>
        Thank you!
      </h2>
    </div>
  </div>
</div>


