<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 col-md-6 col-lg-5 my-auto mx-auto">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center">Sign Up</h2>
              <hr>
              <div class="row" *ngIf="registrationError">
                <div class="col mx-auto">
                  <div class="alert alert-danger text-center" role="alert">
                    <p *ngFor="let error of registrationError['email']">
                      {{ error }}
                    </p>
                    <p *ngFor="let error of registrationError['name']">
                      {{ error }}
                    </p>
                    <p *ngFor="let error of registrationError['password']">
                      {{ error }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col mx-auto">
                  <form #f="ngForm" (ngSubmit)="onSubmit( f )">
                    <div class="form-group mb-3">
                      <input id="name" class="form-control text-center" type="text" placeholder="Username" ngModel name="name" required #nameInput="ngModel" />
                      <div class="errors" *ngIf="nameInput.invalid && nameInput.touched">
                        <p class="text-danger" *ngIf="nameInput.errors['required']">Name cannot be empty.</p>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <input id="email" class="form-control text-center" type="email" placeholder="E-mail" ngModel name="email" email required #emailInput="ngModel" />
                      <div class="errors" *ngIf="emailInput.invalid && emailInput.touched">
                        <p class="text-danger" *ngIf="emailInput.errors['email']">Please insert a valid email address.</p>
                        <p class="text-danger" *ngIf="emailInput.errors['required']">Email address is required.</p>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <input id="password" class="form-control text-center" type="password" placeholder="Password" ngModel name="password" required minlength="6" #pwInput="ngModel" />
                      <div class="errors" *ngIf="pwInput.invalid && pwInput.touched">
                        <p class="text-danger" *ngIf="pwInput.errors['required']">Password cannot be empty.</p>
                        <p class="text-danger" *ngIf="pwInput.errors['length']">Password minimum length is 6.</p>
                      </div>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-secondary btn-block" [disabled]="f.invalid">Submit</button>
                    </div>
                    <div class="form-group text-center">
                      <div class="btn btn-secondary btn-block" routerLink="/home">Back</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
