
<div class="row mb-2">
  <div class="col">
    <div class="question-container">
      <div class="d-table w-100 h-100">
        <div class="d-table-cell w-100 h-100 align-middle text-center">
          <h5 *ngIf="question">
            {{ question.question | decodedHtml }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <app-answers-block [answers]="question?.answers"></app-answers-block>
  </div>
</div>
