.question-container {
  overflow: hidden;
  height: 100px;
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid lightskyblue;
  background-color: rgba( 255, 255, 255, .7 );
}

.question-text {

}
