<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <div class="start-container">
            <div class="start-container-content" >
              <div>
                <h3>Welcome {{ userName }}</h3>
                <p class="rules">
                  Test your skills answering all questions as quickly as possible.
                </p>
                <div class="btn btn-outline-info" [class.disabled]="!quizInitialized" (click)="onStart()">
                  Start Quiz
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


