:host {
  display: block;
}

.start-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid lightskyblue;
  background-color: rgba( 255, 255, 255, .7 );
  text-align: center;
  .start-container-content {
    position: relative;
    width: 100%;
    h3 {
      font-size: 28px;
    }
    .rules {
      font-size: 18px;
    }
    @media (min-width: 544px) {
      h3 {
        font-size: 40px;
      }
      .rules {
        font-size: 22px;
      }
    }
  }

}
