:host {
  display: block;
}

.list-group-item {
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  &.hidden {
    background-color: #f2f2f2;
  }
  h5 {
    margin: 0;
  }
}

.list-group-item.hidden:hover {
  cursor: pointer;
  animation: magnify .4s ease-out forwards;
  background-color: aliceblue;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@keyframes magnify {
  0% {
    transform: scale( 1 )
  }
  50% {
    transform: scale( 1.01 );
    -webkit-box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
    -moz-box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
    box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
  }
  100% {
    transform: scale( 1 )
  }
}

@keyframes reveal-correct {
  0% {
    transform: scale( 1 )
  }
  50% {
    -webkit-box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
    -moz-box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
    box-shadow: 0px 5px 16px -9px rgba(250,250,250,1);
  }
  100% {
    transform: scale( 1.1 )
  }
}

@keyframes reveal-incorrect {
  0% {
    transform: scale( 1 )
  }
  100% {
    transform: scale( .90 )
  }
}

.correct {
  background-color: lightgreen !important;
  animation: reveal-correct .3s ease-in forwards;
}

.wrong {
  background-color: lightcoral !important;
  animation: reveal-incorrect .3s ease-in forwards;
}
