<div class="row">
  <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mx-auto">
    <div class="card">
      <div class="card-body text-center">
        <h3>
          {{ points }}
        </h3>
      </div>
    </div>
  </div>
</div>
