
@import "variables";

@mixin bg-gradient(){
  background: $topBarLightBlue;
  background: -moz-linear-gradient(top, $topBarLightBlue 0%, $topBarDarkBlue 100%);
  background: -webkit-linear-gradient(top, $topBarLightBlue 0%,$topBarDarkBlue 100%);
  background: linear-gradient(to bottom, $topBarLightBlue 0%,$topBarDarkBlue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$topBarLightBlue}, endColorstr=#{$topBarDarkBlue},GradientType=0 );
}

@mixin base-transition() {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
