:host {
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid black;
  z-index: 2;

    .eq-icon {
      font-size: 22px;
      color: #000;
      cursor: pointer;
    }

}
