<div id="header">
  <div class="container h-100">
    <div class="h-100 w-100 d-flex align-items-center justify-content-end">
      <i class="fa fa-home eq-icon mr-2" aria-hidden="true" routerLink="/home"></i>
      <i class="fa fa-comment eq-icon mr-2" aria-hidden="true" routerLink="/leave-a-feedback"></i>
      <ng-container *ngIf="isAuthenticated">
        <i class="fa fa-star eq-icon mr-2" aria-hidden="true" routerLink="/ranking"></i>
        <i class="fa fa-sign-out eq-icon" aria-hidden="true" (click)="onQuit()"></i>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated">
        <i class="fa fa-sign-in eq-icon mr-2" aria-hidden="true" routerLink="/login"></i>
        <i class="fa fa-user eq-icon mr-2" aria-hidden="true" routerLink="/register"></i>
      </ng-container>
    </div>
  </div>
</div>
