
<div id="quiz-content">

  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <app-question [question]="question"></app-question>
      </div>
    </div>
  </div>

</div>
