<div>
  <svg width="232px" height="44px" preserveAspectRatio="xMinYMin" viewBox="0 0 232 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="" d="M0,1 L0,10.9113594 L9.37054223,10.9113594 C9.37054223,10.9113594 13.6340765,11.230188 13.6340765,15.3271207 L13.6340765,28.5748461 C13.6340765,32.4265487 9.86057153,32.941738 9.86057153,32.941738 L0,32.941738 L0,43 L82,43 L82,24.6495451 L61.3677524,24.64351 L61.3493744,28.3786326 C61.3505506,27.5934841 61.7353111,32.2793518 57.3244593,32.9173034 C52.9139016,32.9173034 38.3829819,32.8928687 38.3829819,32.8928687 L38.3584289,27.6426479 L56.9079418,27.6672298 L56.9080888,16.6273113 L38.3831289,16.6028766 L38.4075348,11.0338273 L57.5738112,11.0305889 C57.5738112,11.0305889 61.4412641,11.5245819 61.3923053,15.8913266 C61.3923053,20.6507928 61.4165642,19.3012911 61.4165642,19.3012911 L82,19.2768564 L82,1 L0,1" id="Fill-1"></path>
    <path class="logo-char" d="M87,43 L87,1 L92.576949,1 L92.576949,37.7957047 L100,37.7957047 L100,43 L87,43" id="Fill-2"></path>
    <path class="logo-char" d="M116.340496,43 L114.932792,33.2282949 L109.050836,33.2282949 L107.684739,43 L102,43 L109.165892,1 L115.176121,1 L122,43 L116.340496,43 L116.340496,43 Z M112.41693,11 C112.186263,12.5333982 110,28 110,28 L115,28 C115,28 112.647597,12.5333982 112.41693,11 L112.41693,11 Z" id="Fill-3"></path>
    <path class="logo-char" d="M130.600813,43.8627573 C126.522388,43.1719141 123.884847,39.2095149 123.597016,32.7743661 L128.777978,32.1803478 C128.777978,32.1803478 129.068831,37.8113443 131.178058,38.337199 C133.287285,38.8630538 135.398096,37.6255651 134.835242,32.9540566 C134.342619,29.4082129 129.651833,23.4781281 130.491581,24.708934 C130.491581,24.708934 123.213193,16.8349244 123.006674,10.5796146 C122.82937,3.66746903 126.200017,0 131.318952,0 C135.123073,0 138.180416,4.85550565 137.988577,9.90466126 L133.383277,10.8451407 C133.118185,8.92824367 132.668736,5.49689691 130.602396,5.49689691 C128.395162,5.49689691 128.325507,9.50206535 128.325507,9.50206535 C128.325507,12.7339705 129.887279,14.9606481 132.971678,18.6833608 C136.055934,22.4065191 138.961014,25.8791501 139.865956,32.6433851 C140.770897,39.40762 137.029091,44.9517414 130.600813,43.8627573" id="Fill-4"></path>
    <path class="logo-char" d="M152.178509,6.32161292 L152.178509,43 L146.821344,43 L146.821344,6.32161292 L141,6.32161292 L141,1 L158,1 L158,6.32161292 L152.178509,6.32161292" id="Fill-5"></path>
    <path class="logo-char" d="M161,1 L166,1 L166,43 L161,43 L161,1 Z" id="Fill-6"></path>
    <path class="logo-char" d="M187.533477,39.0040164 L189.526707,41.3807882 L187.020334,43.8648331 L185.570135,42.0846652 C184.807351,42.7679185 183.839541,43.9486633 180.807463,44 C173.443846,43.9486633 172,35.2168198 172,22.6109822 C172,10.0055897 172.866308,-0.112345409 181.14951,0.00101083604 C188.363544,-0.112345409 190,9.3208527 190,21.9263936 C190,29.502122 189.386077,35.0298711 187.533477,39.0040164 L187.533477,39.0040164 Z M180.416194,5 C177.480724,5 177.16115,10.4390934 177.013855,21.6462493 C176.90733,29.753125 177.35704,37.7858833 180.416194,37.9991176 C180.657521,38.0158822 181.620637,37.7904421 181.862239,37.605737 L179.792832,34.8776609 L182.175773,32.5626713 L183.453383,34.306487 C183.91435,29.7344486 184.057115,26.6431388 183.980378,21.9662479 C183.797529,10.8130623 183.3518,5 180.416194,5 L180.416194,5 Z" id="Fill-7"></path>
    <path class="logo-char" d="M203.435502,44 C197.071977,44 195.019491,39.4303727 195.019491,31.5928079 L195,1 L200.325602,1 L200.345093,31.3464187 C200.345093,34.925476 200.425437,38.627949 203.435502,38.627949 C206.445418,38.627949 206.742987,34.7402786 206.742987,31.4079054 L206.723497,1 L211.980509,1 L212,31.2230029 C212,40.1232409 209.798878,44 203.435502,44" id="Fill-8"></path>
    <path class="logo-char" d="M218,43 L218,1 L232,1 L232,6.21399498 L223.359389,6.21399498 L223.359389,19.3859771 L229.323998,19.3859771 L229.323998,24.8312239 L223.359389,24.8312239 L223.359389,37.7862977 L231.918918,37.7862977 L231.918918,43 L218,43" id="Fill-9"></path>
  </svg>
</div>
