:host {
  position: relative;
  display: block;
  width: 100%;
}

.quiz-result-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid lightskyblue;
  background-color: rgba( 255, 255, 255, .7 );
  text-align: center;
  .quiz-result-content {
    position: relative;
    width: 100%;
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    @media (min-width: 544px) {
      h1 {
        font-size: 36px;
      }
      h3 {
        font-size: 30px;
      }
    }
  }

}

#score {
  position: relative;
  width: 100px;
  height: 100px;
  .points {
      margin: 0;
      color: gold;
      font-size: 40px;
      font-weight: 600;
      text-shadow: 0px 3px 5px rgba(255, 255, 255, 0.8);
  }
  @media (min-width: 544px) {
    .points {
      font-size: 80px;
    }
  }
}
