<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <div class="quiz-result-container">
            <div class="quiz-result-content text-center">
              <h1>CONGRATULATIONS!</h1>
              <h3>Your Score is</h3>
              <div id="score" class="mx-auto">
                <div class="points">
                  {{ score }}
                </div>
              </div>
              <div>
                <app-button [type]="'replay'" [size]="3"></app-button>
                <app-button [type]="'ranking'" [size]="3"></app-button>
                <app-button [type]="'feedback'" [size]="3"></app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
