
<div id="quiz-top">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="row m-2 align-items-center">
          <div class="col-md-2">
            <app-timer [time]="state.currentQuestion.left"></app-timer>
          </div>
          <div class="col-md-10">
            <app-progress [time]="state.currentQuestion.time"  [timeLeft]="state.currentQuestion.left" [animate]="state.running"></app-progress>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <app-score-panel [points]="state.score"></app-score-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
