/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.h-10 {
  height: 10%;
}
.h-80 {
  height: 80%;
}

.fullscreen-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc( 100vh - 50px );
}
