<div class="fullscreen-wrapper">
  <div class="position-relative w-100 h-100">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">

          <div class="text-center">
            <h2>Welcome to ElastiQuiz</h2>
            <app-logo></app-logo>
            <hr>
            <div *ngIf="!isAuthenticated">
              <app-button [type]="'login'" [size]="3"></app-button>
              <app-button [type]="'register'" [size]="3"></app-button>
            </div>
            <div *ngIf="isAuthenticated">
              <app-button [type]="'play'" [size]="3"></app-button>
              <app-button [type]="'ranking'" [size]="3"></app-button>
              <app-button [type]="'logout'" [size]="3"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
