

<div class="eq-home-btn-wrapper size-{{ size }} m-4">
  <div class="eq-home-btn-container">
    <div class="eq-home-btn-frame">
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'login'">
          <div class="eq-home-btn" routerLink="/login">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-sign-in eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'register'">
          <div class="eq-home-btn" routerLink="/register">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-user eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'logout'">
          <div class="eq-home-btn" (click)="onQuit()">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-sign-out eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'ranking'">
          <div class="eq-home-btn" routerLink="/ranking">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-star eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'play'">
          <div class="eq-home-btn" routerLink="/start">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-play eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'replay'">
          <div class="eq-home-btn" routerLink="/start">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-repeat eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'home'">
          <div class="eq-home-btn" routerLink="/home">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-home eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'feedback'">
          <div class="eq-home-btn" routerLink="/leave-a-feedback">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle text-center">
                <i class="fa fa-comment eq-home-btn-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
