@import "~src/styles/mixins";

:host {
  cursor: pointer;
}
.eq-home-btn-wrapper {
  position: relative;
  display: inline-block;
  &.size-1 {
    width: 25px;
    height: 25px;
    .eq-home-btn-icon {
      font-size: 1rem;
    }
    @media (min-width: 544px) {
      width: 50px;
      height: 50px;
        .eq-home-btn-icon {
          font-size: 2rem;
        }
    }
  }
  &.size-2 {
    width: 50px;
    height: 50px;
      .eq-home-btn-icon {
        font-size: 2rem;
      }
    @media (min-width: 544px) {
      width: 100px;
      height: 100px;
      .eq-home-btn-icon {
        font-size: 3rem;
      }
    }
  }
  &.size-3 {
    width: 75px;
    height: 75px;
      .eq-home-btn-icon {
        font-size: 2.5rem;
      }
    @media (min-width: 544px) {
    width: 150px;
    height: 150px;
      .eq-home-btn-icon {
        font-size: 5rem;
      }
    }
  }
  &.size-4 {
    width: 100px;
    height: 100px;
      .eq-home-btn-icon {
        font-size: 5rem;
      }
    @media (min-width: 544px) {
      width: 200px;
      height: 200px;
        .eq-home-btn-icon {
          font-size: 6rem;
        }
    }
  }

  .eq-home-btn-container {
    width: 100%;
    padding-bottom: 100%;

    .eq-home-btn-frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .eq-home-btn {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }

  .eq-home-btn {
    border: 2px solid black;
    background: #d4e4ef;
    background: -moz-radial-gradient(center, ellipse cover, #d4e4ef 0%, #86aecc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #d4e4ef 0%,#86aecc 100%);
    background: radial-gradient(ellipse at center, #d4e4ef 0%,#86aecc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
    box-shadow: none;
    @include base-transition();
    .eq-home-btn-icon {
      color: lightyellow;
      @include base-transition();
    }
  }

  &:hover {
    .eq-home-btn {
      border: 2px solid white;
      background-color: darkorange;
      -webkit-box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
      box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
      .eq-home-btn-icon {
        color: darkblue;
      }
    }
  }



}
