<div class="position-relative w-100 mt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="ranking-top-container">
          <div class="ranking-top-content" >
            <div>
              <h3>Ranking</h3>
            </div>
          </div>
        </div>
        <div class="ranking-item-list mt-2" [@staggeredTrigger]="filteredScoreList">
          <ng-container *ngFor="let item of filteredScoreList; let i = index">
            <div class="ranking-item m-1" [ngClass]="{ 'self' : !isEmpty( item ) ? currentUserId === item?.user.id : false }">
              <div class="d-table w-100 h-100">
                <div class="d-table-cell w-100 h-100 align-middle" *ngIf="!isEmpty( item )">
                  <div class="row">
                    <div class="d-none d-sm-block col-sm-1 text-right">
                      <span class="player-ranking">
                        {{ ( currentRankingPage * perPage ) + i + 1 }}.
                      </span>
                    </div>
                    <div class="col-8 col-sm-9 text-left">
                      <span class="player-username">
                        {{ item.user.name }}
                      </span>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      <span class="player-score">
                      {{ item.score }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>

        </div>
        <div class="row">
          <div class="col text-center">
            <div class="ranking-nav-button" (click)="onChangePage( 'p' )" [ngClass]="{ 'disabled' : !previousActive }">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div>
            <div class="ranking-nav-button" (click)="onChangePage( 'n' )" [ngClass]="{ 'disabled' : !nextActive }">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



