@import "~src/styles/mixins";

:host {
  display: block;
}

.ranking-top-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid lightskyblue;
  background-color: rgba( 255, 255, 255, .7 );
  text-align: center;
  .ranking-top-content {
    position: relative;
    width: 100%;
    h3 {
      font-size: 28px;
    }
    .rules {
      font-size: 18px;
    }
    @media (min-width: 544px) {
      h3 {
        font-size: 40px;
      }
      .rules {
        font-size: 22px;
      }
    }
  }

}

.ranking-item-list {
  overflow: hidden;
  .ranking-item {
    background-color: rgba( 255, 255, 255, .6 );
    height: 60px;
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    &.self {
      background-color: rgba( 255, 255, 255, .9 );
    }
    .player-ranking {
      font-size: 16px;
      line-height: 1;
      @media (min-width: 544px) {
        font-size: 26px;
      }
    }
    .player-username {
      font-size: 16px;
      line-height: 1;
      @media (min-width: 544px) {
        font-size: 26px;
      }
    }
    .player-score {
      font-size: 16px;
      line-height: 1;
      font-weight: bold;
      @media (min-width: 544px) {
        font-size: 26px;
      }
    }
  }
}

.ranking-nav-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  i {
    font-size: 52px;
    color: lightgoldenrodyellow;
    cursor: pointer;
    @include  base-transition();
    box-shadow: none;
    &:hover {
      color: lightyellow;

      text-shadow: 0px 3px 5px rgba(255, 255, 255, 0.8);
    }
  }
  &.disabled {
    i {
      color: lightgray;
      opacity: .5;
      text-shadow: none;
      &:hover {
        color: lightgray;
        opacity: .5;
        text-shadow: none;
      }
    }
  }
}
